@model IEnumerable<innoventory.lotus.viewmodels.productattributeviewmodel>

    <h2>List</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Attribute Name
                </th>

                <th>
                    Attribute Description
                </th>


            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="productAttribute in productAttributes " ng-click="editProductAttribute()">
                <td>
                    {{productAttribute.attributeName}}
                </td>
                <td>
                    {{productAttribute.attributeDescription}}
                </td>
            </tr>
        </tbody>

    </table>


