

<h4>{{formTitle}}</h4>


<form class="form-horizontal" name="ProductAttribute" novalidate role="form">

    <div class="form-group">

        <label for="AttributeName" class="control-label col-sm-6"> Attribute Name</label>

        <div class="col-sm-18">

            <input type="text" id="AttributeName" ng-model="productAttributeVM.attributeName" class="form-control" />

        </div>

    </div>

    <div class="form-group">

        <label for="AttributeDescription" class="control-label col-sm-6"> Attribute Description</label>

        <div class="col-sm-18">

            <input type="text" id="AttributeDescription" ng-model="productAttributeVM.attributeDescription" class="form-control" />

        </div>

    </div>

    <div class="form-group">

        <label class="control-label col-sm-6"> Sub Categories</label>

        <div class="col-sm-6 form-group" ng-repeat="subCategorySelection in productAttributeVM.subCategorySelections">

            <label class="control-label col-sm-24">
                {{subCategorySelection.subCategory.subCategoryName}}
                <input type="checkbox" id="subCategorySelection.subCategory.subCategoryId" ng-model="subCategorySelection.isSelected">
            </label>

        </div>


    </div>


    <div class="form-group">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-18">
            <button type="button" value="Save" class="btn btn-primary btn-save" ng-click='saveProductAttribute($event)'>
                <div class="btn-div">Save</div>
                <span class="btn-span glyphicon glyphicon-floppy-disk btn-span"></span>
            </button>

            <button type="button" value="Delete" class="btn btn-warning" ng-show="showDelete" ng-click='deleteProductAttribute($event)'>
                <div class="btn-div">Delete</div>
                <span class="btn-span glyphicon glyphicon-remove-sign btn-span"></span>
            </button>

            <button type="button" class="btn btn-default" ng-click="cancel($event)">
                <div class="btn-div">Cancel</div>
                <span class="glyphicon glyphicon-remove btn-span"></span>
            </button>

        </div>
    </div>

</form>

