
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{pvFormTitle}}</h3>
    </div>
    <div class="panel-body">

        <form class="form-horizontal" name="ProductVariant" novalidate role="form">

            <div class="form-group">

                <label for="BarCode" class="control-label col-sm-6"> Bar Code</label>

                <div class="col-sm-18">

                    <input type="text" id="BarCode" ng-model="productVariantVM.barCode" class="form-control" />

                </div>

            </div>

            <div class="form-group">

                <label for="SKUCode" class="control-label col-sm-6"> SKU Code</label>

                <div class="col-sm-18">

                    <input type="text" id="SKUCode" ng-model="productVariantVM.skuCode" ng-required="true" class="form-control" />

                </div>

            </div>
            <div class="form-group">

                <label for="AvailableQuantity" class="control-label col-sm-6"> Available Quantity</label>

                <div class="col-sm-18">

                    <input type="text" id="AvailableQuantity" ng-model="productVariantVM.availableQuantity" class="form-control" />

                </div>

            </div>

            <div class="form-group">

                <label for="UnitVolume" class="control-label col-sm-6"> Unit Volume</label>

                <div class="col-sm-18">

                    <input type="text" id="UnitVolume" ng-model="productVariantVM.unitVolume" class="form-control" />

                </div>

            </div>

            <div class="form-group">

                <label for="Reorder Point" class="control-label col-sm-6"> Re-order Point</label>

                <div class="col-sm-18">

                    <input type="text" id="ReorderPoint" ng-model="productVariantVM.reorderPoint" class="form-control" />

                </div>

            </div>

            <div class="form-group">

                <label for="Reorder Quantity" class="control-label col-sm-6"> Re-order Quantity</label>

                <div class="col-sm-18">

                    <input type="text" id="ReorderQuantity" ng-model="productVariantVM.reorderQuantity" class="form-control" />

                </div>

            </div>

            <div class="form-group">

                <label for="isActive" class="control-label col-sm-6">
                    Is Active
                </label>

                <div class="col-sm-18" style="padding-top:6px;">
                    <input type="checkbox" id="isActive" ng-model="productVariantVM.isActive" />
                </div>

            </div>
                        

            <div class="form-group">

                <div class="col-sm-6" style="padding-top:30px;">
                    <label class="control-label col-sm-24">Price</label>
                </div>

                <div class="col-sm-6">
                    <p class="col-sm-24">
                        <label for="LastPurchasePrice" class="control-label">
                            Last Purchase Price
                        </label>
                    </p>

                    <input type="text" id="LastPurchasePrice" ng-model="productVariantVM.lastPurchasePrice" class="form-control" />

                </div>

                <div class="col-sm-6">
                    <p class="col-sm-24">
                        <label for="basePrice" class="control-label">
                            Base Price
                        </label>
                    </p>

                    <input type="text" id="basePrice" ng-model="productVariantVM.basePrice" class="form-control" />

                </div>

                <div class="col-sm-6">
                    <p class="col-sm-24">
                        <label for="shelfPrice" class="control-label"> Shelf Price</label>
                    </p>

                    <input type="text" id="shelfPrice" ng-model="productVariantVM.shelfPrice" class="form-control" />

                </div>

            </div>

            <div class="panel panel-default panel-form" ng-show="hasAttribute">
                <div class="panel-heading">
                    <h4 class="panel-title"> Attributes</h4>
                </div>
                <div class="panel-body">

                    <div class="form-group col-sm-12" ng-repeat="attributeNameValueList in attributeValueListCollection">

                        <p class="col-sm-24">
                            <label class="control-label">{{attributeNameValueList.attributeName}}</label>
                        </p>
                        <div class="col-sm-24">

                            <input class="form-control" type="text" id="{{attributeNameValueList.productAttributeId}}" ng-model="attributeNameValueList.selectedAttributeValue"
                                   typeahead="attr as attr.attributeValue for attr in attributeNameValueList.attributeValues | filter:$viewValue"
                                   typeahead-wait-ms="100" typeahead-focus-first="false">

                        </div>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-24" style="background:#c8cbce">
                    <div class="btn-group" style="float:right">
                        <button type="button" value="Save" class="btn btn-primary btn-save btn-toolbox" tooltip="Save Product Vaiant" ng-click='saveProductVariant($event)'>
                            <i class="fa fa-2x fa-floppy-o"></i>
                        </button>

                        <button type="button" value="Delete" class="btn btn-warning btn-toolbox" tooltip="Delete Product Variant" ng-show="showDeletePV" ng-click='deleteProductVariant($event)'>
                            <i class="fa fa-2z fa-trash"></i>
                        </button>

                        <button type="button" class="btn btn-default btn-toolbox" tooltip="Cancel" ng-click="onCancelProductVariant($event)">
                            <i class="fa fa-2x fa-remove"></i>
                        </button>

                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
