@{
    ViewBag.Title = "Products";

    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div ng-controller="productController as productCtrl">

    <h2>
        Hello {{product.productName}}
    </h2>

</div>

