@{
    ViewBag.Title = "Category";
    ViewBag.Name = "Category";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

@section scripts
{
    <script src="~/custom-scripts/category/category-model.js"></script>
    <script src="~/custom-scripts/category/category-controller.js"></script>
    <script src="~/custom-scripts/category/category-service.js"></script>
}

@section footerScript
{
    @*angular.bootstrap(document.getElementById("category"), ['categoryModule'])*@
}


<div class="container" ng-controller="categoryController  as categoryCtrl" id="category">
    <div ng-show="apiService.isLoading">
        @Html.Partial("~/Views/Shared/Loader.cshtml")
    </div>

    @Html.Partial("~/Views/Shared/AlertBox.cshtml")


    <category-list></category-list>


    <div class="form-group">

        <a href="#" id="lnkNewCategory" class="btn btn-primary" ng-click="newCategory()">
            <div class="btn-div">Create New</div>
            <i class="glyphicon glyphicon-plus col-sm-6"></i>
        </a>

    </div>

    <div ng-show="showCategory">

        <category></category>

    </div>

</div>
