@{
    ViewBag.Title = "Category";
    ViewBag.Name = "Category";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
@section scripts
{
    <script src="~/custom-scripts/product/product-grid.js"></script>
    <script src="~/custom-scripts/product/product-variant-grid.js"></script>
    <script src="~/custom-scripts/product/product-model.js"></script>
    <script src="~/custom-scripts/product/product-variant-model.js"></script>
    <script src="~/custom-scripts/product/product-service.js"></script>
    <script src="~/custom-scripts/product/product-variant-service.js"></script>
    <script src="~/custom-scripts/product/product-controller.js"></script>

    @*<script type="text/ng-template" id="template/typeahead/typeahead-popup.html">
            <ul class="dropdown-menu" ng-if="isOpen()" ng-style="{top: position.top+'px', left: position.left+'px'}" style="display: block;" role="listbox" aria-hidden="{{!isOpen()}}">
                <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{match.id}}">
                    <div typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
                </li>
            </ul>
        </script>

        <script type="text/ng-template" id="template/typeahead/typeahead-match.html">
            <a tabindex="-1" bind-html-unsafe="match.label | typeaheadHighlight:query"></a>
        </script>*@
}

<div class="container" ng-controller="productController as productCtrl">

    <div ng-show="apiService.isLoading">
        @Html.Partial("~/Views/Shared/Loader.cshtml")
    </div>

    @Html.Partial("~/Views/Shared/AlertBox.cshtml")

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> Products </h3>
        </div>
        <div class="panel-body" style="border: 1px solid #e1e1e1; padding:0px;">

            <div class="row" style="background:#fafafa; margin:0px; padding: 20px;">
                <div class=" col-sm-8">
                    <div class="col-sm-12">
                        <label class="control-label">Product Name</label>
                    </div>

                    <input type="text" class="form-control" placeholder="Search in Product Name" ng-model="productFilterOption.searchTerm" />

                </div>
                <div class="col-sm-6">

                    <div class="col-sm-6">
                        <label class="control-label">Category</label>
                    </div>
                    <select class="form-control" id="category" ng-model="searchCategory" ng-change="onSearchCategoryChange()"
                            ng-options="cat as cat.entityName for cat in categories track by cat.entityId" placeholder="Search in Category">

                        <option>
                            ---- Search By Category ----
                        </option>
                    </select>


                </div>

                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <label class="control-label">Sub Category</label>
                    </div>

                    <select class="form-control" id="subCategory" ng-model="searchSubCategory" ng-disabled="!isSubCategories"
                            ng-options="sbc as sbc.entityName for sbc in subCategories track by sbc.entityId" placeholder="Search in Sub Category"></select>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-24" style=" padding-bottom: 25px;">

                    </div>
                    <button class="btn-search" ng-click="searchProducts($event)">

                        <span class="glyphicon glyphicon-search"></span>

                    </button>
                </div>
            </div>
            <product-list></product-list>
        </div>
    </div>

    @*<div style="margin:2px auto;">
            <product-list></product-list>
        </div>*@

    <div class="form-group">

        <a href="#" id="lnkNewProduct" class="btn btn-primary" ng-click="newProduct()">
            <div class="btn-div">
                Create New
            </div>
            <i class="glyphicon glyphicon-plus btn-span"></i>
        </a>

    </div>

    <div ng-show="showProduct">

        <product></product>

    </div>

</div>

