

<div class="container" ng-controller="productController as productCtrl">

    <div ng-show="apiService.isLoading">
        @Html.Partial("~/Views/Shared/Loader.cshtml")
    </div>

    @Html.Partial("~/Views/Shared/AlertBox.cshtml")

    <div class="search-panel container">

        <div class="col-sm-12">
            <input type="text" />
        </div>

    </div>

    <div style="margin:2px auto;">
        <product-list></product-list>
    </div>

    <div class="form-group">

        <a href="#" id="lnkNewProduct" class="btn btn-primary" ng-click="newProduct()">
            <div class="col-sm-18">
                Create New
            </div>
            <i class="glyphicon glyphicon-plus col-sm-6"></i>
        </a>

    </div>

    <div ng-show="showProduct">

        <product></product>

    </div>

</div>

