
    <h4>Volume Measures</h4>
    <div ng-show="isData">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        Volume Measure Name
                    </th>

                    <th>
                        Short Name
                    </th>
                                      
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="volumeMeasure in volumeMeasures " ng-click="editVolumeMeasure(volumeMeasure)" ng-class="{'row-selected': volumeMeasure.volumeMeasureId === selectedId}">
                    <td>
                        {{volumeMeasure.volumeMeasureName}}
                    </td>
                    <td>
                        {{volumeMeasure.shortName}}
                    </td>

                </tr>
            </tbody>

        </table>

    </div>

    <div ng-hide="isData" class="no-data">
        <h4>No Data</h4>
    </div>
