
    <h2>List</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>

                <th>
                    CategoryName
                </th>



                <th>
                    CategoryDescription
                </th>



            </tr>

        </thead>

        <tbody>

            <tr ng-repeat="List " ng-click="(List)">

                <td>
                    {{CategoryName)}}
                </td>
                <td>
                    {{CategoryDescription)}}
                </td>

            </tr>

        </tbody>


    </table>

