@{
    ViewBag.Title = "Category";
    ViewBag.Name = "Category";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

@section scripts
{
    <script src="~/custom-scripts/category/category-model.js"></script>
    <script src="~/custom-scripts/category/category-controller.js"></script>
    <script src="~/custom-scripts/category/category-service.js"></script>
}

@section footerScript
{
    @*angular.bootstrap(document.getElementById("category"), ['categoryModule'])*@
}


<div class="container" ng-app="categoryModule" ng-controller="categoryController  as categoryCtrl" id="category">
    <div ng-show="apiService.isLoading">
        @Html.Partial("~/Views/Shared/Loader.cshtml")
    </div>

    @Html.Partial("~/Views/Shared/AlertBox.cshtml")

    <div>
        <category-list></category-list>
    </div>

    <div  class="form-group">

        <a href="#" id="lnkNewCategory" class="btn btn-primary" ng-click="newCategory()">Create New Category</a>

    </div>

    <div ng-show="showCategory">

        <category></category>

    </div>

</div>
