



<h4>{{formTitle}}</h4>

<form class="form-horizontal" name="Category" novalidate role="form">



    <div class="form-group">
        <label for="CategoryName" class="control-label col-sm-6"> Category Name</label>

        <div class="col-sm-18">

            <input type="text" id="CategoryName" class="form-control" ng-model="categoryVM.categoryName" />

        </div>

    </div>

    <div class="form-group">
        <label for="CategoryDescription" class="control-label col-sm-6"> Description</label>

        <div class="col-sm-18">

            <input type="text" id="CategoryDescription" class="form-control" ng-model="categoryVM.description" />

        </div>

    </div>


    <div class="form-group">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-12">

            <button type="button" class="btn btn-primary btn-save" ng-click="saveCategory($event)">
                <div class="col-sm-18">
                    Save
                </div>
                <i class="glyphicon glyphicon-floppy-disk col-sm-6"></i>


            </button>

            <button type="button" class="btn btn-warning" ng-show="showDelete" ng-click="deleteCategory($event)">
                <div class="col-sm-18"> Delete </div>
                <i class="glyphicon glyphicon-minus-sign col-sm-6"></i>

            </button>

            <button type="button" class="btn btn-default" ng-click="cancel($event)" />
            <div class="col-sm-18">
                Cancel
            </div>
            <i class="glyphicon glyphicon-remove col-sm-6"></i>
        </div>
    </div>

</form>