
    <h2>Categories</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>

                <th>
                    Category Name
                </th>



                <th>
                    Description
                </th>



            </tr>

        </thead>

        <tbody>

            <tr ng-repeat="category in categories " ng-click="editCategory(category)">

                <td>
                    {{category.CategoryName}}
                </td>
                <td>
                    {{category.Description}}
                </td>

            </tr>

        </tbody>


    </table>



