
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Sub Categories</h3>
    </div>
    <div class="panel-body">
        <div ng-show="isData">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>

                        <th>
                            Sub Category Name
                        </th>

                        <th>
                            Description
                        </th>

                        <th>
                            Categories
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="subCategory in subCategories" ng-click="editSubCategory(subCategory)" ng-class="{'row-selected': subCategory.subCategoryId === selectedId}">
                        <td>
                            {{subCategory.subCategoryName}}
                        </td>
                        <td>
                            {{subCategory.description}}
                        </td>
                        <td>
                            {{subCategory.selectedCategoryNames}}
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div ng-hide="isData" class="no-data">
            <h4>No Data</h4>
        </div>
    </div>
</div>