

<h4>{{title}}</h4>

<form class="form-horizontal" name="SubCategory" novalidate role="form">

    <div class="alert alert-danger" ng-if="hasError">{{formErrors}}</div>

    <div class="form-group">

        <label for="SubCategoryName" class="control-label col-sm-6"> SubCategoryName</label>

        <div class="col-sm-18">

            <input type="text" id="SubCategoryName" ng-model="subCategoryVM.subCategoryName" class="form-control" />

        </div>

    </div>

    <div class="form-group">

        <label for="Description" class="control-label col-sm-6"> Description</label>

        <div class="col-sm-18">

            <input type="text" id="Description" ng-model="subCategoryVM.description" class="form-control" />

        </div>

    </div>


    <div class="form-group" >

        <div class="col-sm-6 form-group" ng-repeat="categorySelection in subCategoryVM.categories">
            <label class="control-label col-sm-24">
                {{categorySelection.category.categoryName}}
                <input type="checkbox" id="categorySelection.category.categoryId" ng-model="categorySelection.isSelected" />
            </label>

        </div>

    </div>


    <div class="form-group">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary btn-save" ng-click="saveSubCategory($event)">
                Save
                <i class="btn-span glyphicon glyphicon-floppy-disk btn-span"></i>
            </button>

            <button type="button" value="Delete" class="btn btn-warning" ng-show="showDelete">
                <i class="btn-span glyphicon glyphicon-remove-sign"></i>
            </button>		
        
            <input type="button" value="Cancel" class="btn btn-default" ng-show="cancel"/>
        </div>
    </div>

</form>

