body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 400px;
}*/

header .jumbotron .title-container {
    background: #4184F3 /*#4a77b0*/;
    width: 300px;
    height: 60px;
    float: left;
    display: block;
}

header .jumbotron .title {
    width: 310px;
    height: 70px;
    padding: 5px;
    display: block;
    text-decoration: none;
    color: white;
}

.right-content {
    float: right;
    padding-right: 2px;
    width: 550px;
    text-align: right;
    padding-right: 5px;
    height: 50px;
    /*border: 1px solid red;*/
}

    .right-content a {
        color: white;
    }

        .right-content a:hover {
            color: white;
        }


.jumbotron {
    padding: 15px 15px;
    margin-bottom: 0px;
    color: white;
    background: #528de9;
    position: relative;
}

    .jumbotron article#account {
        float: left;
        padding-right: 2px;
        width: 300px;
        text-align: left;
        padding-right: 5px;
        padding-left: 8px;
    }

.navbar-inverse {
    background: #0a1e4d;
}

    .navbar-inverse .navbar-nav > li > a {
        font-size: 14px;
        color: #bdcae5;
        text-transform: uppercase;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: #87e9e3;
        }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover {
        color: #fff;
        background-color: #528fd2;
    }

.header-height {
    padding-bottom: 80px;
    /*-webkit-transition: all 0.5s;
    transition: all 0.5s ease-in-out;*/
}

.form-horizontal {
    padding: 20px 15px;
    border-top: 1px solid #cfc7c7;
    border-bottom: 1px solid #cfc7c7;
}

.btn {
    min-width: 150px;
}

.table thead {
    background: -moz-linear-gradient(top, #286090 50%, #457AA8 100%);
    background: -webkit-linear-gradient(top, #234770 0%, #017ebc 100%);
    background: -ms-linear-gradient(top, #234770 0%, #7db9e8 100%);
    color: white;
    height: 15%;
}

.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

.btn-span {
    padding-left: 5px;
    text-align: right;
    width: 30px;
}

.btn {
    line-height: 33px;
    font-size: 14px;
    padding: 0 10px;
    transition: all 0.3s ease-in-out 0s;
    width: auto;
    min-width: 140px;
}

.btn-save {
    background: #5ea72d;
}

    .btn-save:hover {
        background: #4D961C;
    }

    .btn-save:active {
        background: #5ea72d;
    }



.btn i {
    border-color: #ccc;
    border-style: solid;
    border-width: 0 0 0 1px;
    font-size: 20px;
    margin: 0 0 0 5px;
    padding: 0 0 0 10px;
    line-height: 31px;
    float: right;
    margin-left:10px;
}

.btn-default i {
    border-left: #fff solid 1px;
}

.btn-alert{
    border-left: #fff solid 1px;
}

.btn-default {
    background: #9d9a9a;
    color:#f9fbfc
}

.btn-default:hover {
    background: #a1a1a3;
    color:#f9fbfc
}

.btn-default:active {
    background: #a1a1a3;
    color:#f9fbfc
}


.row-selected {
    background: linear-gradient(top, #d2dbe0 0%, #c1d1dd 100%);
    background: -webkit-linear-gradient(top, #d2dbe0 0%, #c1d1dd 100% );
    background: -moz-linear-gradient(top, #d2dbe0 0%, #c1d1dd 100%);
    background: -ms-linear-gradient(top, #d2dbe0 0%, #c1d1dd 100%);
}

div.no-data {
    padding: 20px;
    border: 2px solid #d3cbcb;
    margin: 10px;
    text-align: center;
}
