
<div ng-show="apiHelper.hasError" class="alert alert-danger">

    <h4 class="aler-heading"> Errors! </h4>

    <ul ng-repeat="error in apiHelper.errors">
        <li>{{error}}</li>
    </ul>

</div>

<div ng-show="apiHelper.hasSuccess" class="alert alert-info">

    <h4> Success </h4>
    <p>
        {{apiHelper.successMessage}}
    </p>

</div>