

<div id="alert-box" style="position:absolute; transition:ease-in-out 1s; opacity: .8; width:50%; min-width:200px; z-index:-2;">
    <div ng-show="apiService.hasErrors" class="alert alert-danger">

        <h4 class="aler-heading"> Errors! </h4>

        <ul ng-repeat="error in apiService.errors">
            <li>{{error}}</li>
        </ul>

    </div>

    <div ng-show="apiService.hasSuccess" class="alert alert-success">

        <h4> Success </h4>
        <p>
            {{apiService.successMessage}}
        </p>

    </div>
</div>
